<div class="jumbotron">
  <h1 class="display-4">Departments Section</h1>
  <hr class="my-4" />

  <a
    href=""
    class="btn btn-primary btn-md"
    role="button"
    ng-click="redirectTo('/preview')"
    >Back</a
  >
  <a
    href=""
    class="btn btn-primary btn-md m-3"
    role="button"
    ng-click="showInput()"
    >Add New Department</a
  >

  <div ng-show="visible">
    <form name="form">
      <div class="form-group">
        <label for="departmentName">Department Name</label>
        <input
          type="text"
          id="departmentName"
          class="form-control"
          ng-model="department.name"
          name="department"
          placeholder="Enter the Department"
          required
        />
      </div>
      <div class="form-group">
        <label for="offices">Select multiple options with CTRL or SHIFT</label>
        <select
          ng-model="department.offices"
          multiple
          name="office"
          class="form-control"
          id="offices"
        >
          <option value=""></option>
          <option
            ng-repeat="office in offices | orderBy:'-department_id' | filter:search as results"
            >{{ office.office_name }}</option
          >
        </select>
      </div>
    </form>
    <button
      type="submit"
      ng-click="addDepartment(department)"
      class="btn btn-primary my-2"
      ng-disabled="form.$invalid"
    >
      Done
    </button>
  </div>
</div>

<input
  type="text"
  class="form-control"
  ng-model="search.$"
  placeholder="Search..."
/>

<table class="table" ng-show="data ">
  <thead>
    <tr>
      <th scope="col">Department</th>
      <th scope="col">Offices per Department</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="d in data | orderBy:'-department_id' | filter:search as results"
    >
      <td>{{ d.name | ifnull }}</td>
      <td>
        <select class="custom-select">
          <option selected>View Offices</option>
          <option ng-repeat="office in d.offices track by $index">{{
            office | ifnull
          }}</option>
        </select>
      </td>
      <td>
        <button
          class="btn btn-primary btn-sm"
          ng-click="redirectTo(d.department_id)"
        >
          Update
        </button>
      </td>
      <td>
        <button
          class="btn btn-danger btn-sm"
          ng-click="deleteDepartment(d.department_id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
  <tr>
    <td ng-if="results.length === 0">
      No results found..
    </td>
  </tr>
</table>
