<div class="jumbotron">
  <h1 class="display-4">Offices Section</h1>
  <hr class="my-4" />

  <a
    href=""
    class="btn btn-primary btn-md"
    role="button"
    ng-click="redirectTo()"
    >Back</a
  >

  <a
    href=""
    class="btn btn-primary btn-md m-3"
    role="button"
    ng-click="showInput()"
    >Add New Office</a
  >
  <div ng-show="visible">
    <form name="form">
      <div class="form-group">
        <label for="officeName">Office Name</label>
        <input
          type="text"
          class="form-control"
          id="officeName"
          ng-model="officeName"
          required
        />
        <button
          type="submit"
          class="btn btn-primary my-2"
          ng-click="addOffice(officeName)"
          ng-disabled="form.$invalid"
        >
          Done
        </button>
      </div>
    </form>
  </div>
</div>

<input
  type="text"
  class="form-control"
  ng-model="search.$"
  placeholder="Search..."
/>

<table class="table" ng-show="data">
  <thead>
    <tr>
      <th scope="col">Office</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="office in data | orderBy:'-office_id' | filter:search as results"
    >
      <td>{{ office.office_name }}</td>
      <form name="form">
        <div class="form-group">
          <label for="name"></label>
          <td>
            <input
              type="text"
              class="form-control"
              name="officeName"
              id="name"
              ng-model="office.name"
              placeholder="Update Office Name"
              required
            />
          </td>
        </div>
      </form>
      <td>
        <button
          type="submit"
          class="btn btn-primary btn-sm"
          ng-click="updateOffice(office)"
          ng-disabled="officeName.$invalid"
        >
          Update
        </button>
      </td>

      <td>
        <button
          class="btn btn-danger btn-sm"
          ng-click="deleteOffice(office.office_id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
  <tr>
    <td ng-if="results.length === 0">
      No results found..
    </td>
  </tr>
</table>
