<div class="jumbotron">
  <h1 class="display-4">{{ header }}</h1>
  <hr class="my-4" />
  <p class="lead">{{ body }}</p>

  <a
    href=""
    class="btn btn-primary btn-lg"
    role="button"
    ng-click="loggingOut()"
    >Logout</a
  >
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 19rem; height: 19rem">
      <div class="card-body">
        <h5 class="card-title">Offices</h5>
        <p class="card-text">
          You are welcome to stop by our Office
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <button class="btn btn-primary" ng-click="redirectTo('offices')">
            Access
          </button>
        </small>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card text-left" style="width: 19rem; height: 19rem">
      <div class="card-body">
        <h5 class="card-title">Departments</h5>
        <p class="card-text">Next section is definitely more interesting</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <button class="btn btn-primary" ng-click="redirectTo('departments')">
            Enter
          </button>
        </small>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card text-left" style="width: 19rem; height: 19rem">
      <div class="card-body">
        <h5 class="card-title">Employees</h5>
        <p class="card-text">
          Personal informations handled according to GDRP compliance
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <button class="btn btn-primary" ng-click="redirectTo('employees')">
            Visit
          </button>
        </small>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card text-left" style="width: 19rem; height: 19rem">
      <div class="card-body">
        <h5 class="card-title">Salaries</h5>
        <p class="card-text">
          If you like counting, you are in the right place
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <button class="btn btn-primary" ng-click="redirectTo('salaries')">
            Spend
          </button>
        </small>
      </div>
    </div>
  </div>
</div>
