<div class="jumbotron">
  <h1 class="display-4">Register Section</h1>
  <hr class="my-4" />
  <p class="lead">
    Please fill up the Register Form and submit or navigate to Login section via
    <a
      href=""
      class="btn btn-primary btn-sm"
      role="button"
      ng-click="redirectToLogin()"
      >Login</a
    >
  </p>
</div>

<div>
  <form name="registerForm" ng-submit="submitRegisterForm()" novalidate>
    <div class="form-group">
      <label for="email">Username</label
      ><input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ng-model="register.email"
        placeholder="Enter your email"
        required
      />
      <div
        class="alert alert-danger"
        ng-show="registerForm.email.$dirty && registerForm.email.$invalid"
      >
        Email is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>

      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ng-model="register.password"
        placeholder="Enter your password"
        ng-minlength="5"
        required
      />
      <div class="true">
        <div
          class="alert alert-danger"
          ng-show="registerForm.password.$dirty && registerForm.password.$invalid && !registerForm.password.$error.minlength"
        >
          Password is required
        </div>
        <div
          class="alert alert-danger"
          ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength"
        >
          Password must be at least 5 characters long
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name</label
      ><input
        type="name"
        class="form-control"
        id="name"
        name="name"
        ng-model="register.name"
        placeholder="Enter your name"
        required
      />
      <div
        class="alert alert-danger"
        ng-show="registerForm.name.$dirty && registerForm.name.$invalid"
      >
        Name is required
      </div>
      <div class="alert alert-danger" ng-show="invalidSubmit">
        Email is already in use
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      ng-disabled="registerForm.$invalid"
    >
      Submit
    </button>
  </form>
</div>
